.info-top {
    display: flex;
    gap: 40px;
    padding-bottom: 70px;
}

.grey-2 {
    background-color: #F4F4F4;
    color: #000;
    padding: 15px;
    border-radius: 10px;
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.description {
    font-size: 14px;
}

.balance {
    color: #41B92D;
    font-size: 30px;
}

/* Content */

.chart-title-3 {
    color: #878787;
}

.info-chart {
    padding-bottom: 30px;
}

.info-chart h2 {
    font-size: 30px;
    padding: 5px;
}

.flex-3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Members Info */

.members-info {
    background-color: #F4F4F4;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 250px;
    border-radius: 10px;
}

.title-info-members {
    color: #767676;
    font-size: 14px;
    font-weight: 300;
    padding: 5px;
}

.pers-total {
    font-size: 27px;
}

.other-members h4 {
    font-size: 17px;
    padding-bottom: 20px;
}

.other-profile {
    display: flex;
    gap: 5px;
}

.profile-img-2 {
    background-color: #41B92D;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    padding-top: 1px;
}

.other-members p {
    font-size: 14px;
    padding-bottom: 5px;
}

/* Add */

.Add {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0000003a;
}