.all-table {
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
}

table th,
table td {
  text-align: left;
  padding: 8px;
}

table th {
    font-size: 19px;
}

.update-btn {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
}

@media (max-width: 1390px) {

    table {
        max-width: 1100px;
        min-width: 700px;
        min-height: 100px;
    }
}